<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-unlock-keyhole me-2"></i>Reset link sent</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form>
        {% csrf_token %}
        <div class="modal-body">
            {% if user.is_authenticated %}
                <h5 class="text-danger">You already logged in as {{user|title}}</h5>
                <p class="fs-7">But we still sent you an email to reset your password.
                    You can safely ignore the reset email if you remember your password.
                    If you didn't find the message on your inbox, check it on your spam folder.
                </p>
            {% else %}
                <h5 class="mb-3">Go and check your email address</h5>
                <p>We have sent you the reset link to your email <br>
                    If you didn't find the message on your inbox, check it on your spam folder.
                </p>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
        </div>
    </form> 
</div>