{% extends '_shared/base.html' %}
{% load static %}
{% load core_tags %}


{% block page_title %}Reset Password{% endblock page_title %}
{% block base_content %}
    <div class="card-login vh-100 d-flex flex-column justify-content-between align-items-center">
        <div class="vh-100 container d-flex flex-column justify-content-center align-items-center">
            <div class="mb-5"> {% brand 1 70 %} </div>
            <h4 class="border-bottom mb-4">You have send us instruction to reset your password</h4>
            <p>Click the button below to continue..</p>
            <button class="mb-3 btn btn-lg btn-primary oc-btn-red oc-p-sm" 
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#passwordResetKeyModal">Continue&nbsp;&nbsp;<i class="fa fa-face-smile"></i></button>
            <a class="my-3 btn btn-outline-primary btn-lg oc-btn-red2" href="{% url 'cover:homepage' %}">Cancel</a>
        </div>
        {% comment %} {% include 'comps/footer.html' %} {% endcomment %}
    </div>

<div class="modal fade" id="passwordResetKeyModal">
    <div class="modal-dialog">
        <div id="passwordResetKeyModalContent" class="modal-content p-3">
            <div class="modal-header">
                {% if token_fail %}
                    <h5><i class="fa fa-key fs-3"></i>&nbsp;&nbsp;Bad Token</h5>
                {% else %}
                    <h5><i class="fa fa-key fs-3"></i>&nbsp;&nbsp;Reset Password</h5>
                {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if token_fail %}
                {% url 'account_reset_password' as password_reset_url %}
                <p>The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{{password_reset_url}}">new password reset</a>
                </p>
            {% else %}
                <form method="post" action="{{request.path}}">
                    {% csrf_token %}
                    <div class="modal-body text-center">
                        <h5 class="mb-2">Enter your new password</h5>
                        {% form_float form %}
                    </div>
                    <div class="modal-footer flex-column">
                        <button type="submit" class="btn btn-primary mb-3">Change</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock base_content %}