{% load core_tags %}


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-unlock-keyhole me-2"></i>Reset Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form>
        {% csrf_token %}
        <div class="modal-body">
            <p class="text-center">Enter your email address</p>
            <p class="text-danger text-center fs-7 lh-sm">We are going to send reset link to your email <br>
                If you didn't find the message on your inbox, check it on your spam folder.
            </p>
            {% form_float form %}
        </div>
        <div class="modal-footer">
            <small class='text-muted me-auto'>I remember my password
                <a type="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#loginModal"
                    hx-swap="innerHTML"
                    hx-get="{% url 'account_login' %}"
                    hx-target="#loginModalContent">login here</a>
            </small>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary"
                hx-swap="innerHTML"
                hx-post="{% url 'account_reset_password' %}"
                hx-target="#resetPasswordModalContent">Reset</button>
        </div>
    </form> 
</div>