<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-envelope-circle-check me-2"></i>Verify Your E-mail Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-auto">
                <p class="text-center">We have sent an e-mail to you for verification. 
                    Follow the link provided to finalize the signup process. 
                    If you do not see the verification e-mail in your main inbox, check your spam folder. 
                    Please contact us if you do not receive the verification e-mail within a few minutes.</p>
            </div>
            <div class="col-3 text-center">
                <i class="fa fa-face-smile-wink fs-1"></i>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">I understand</button>
    </div>
</div>