img.img-animate {
    animation: waveAnim 2s linear infinite alternate;
}

@keyframes waveAnim {
    0% { transform: translate(0, 0) rotate(0); }
    100% { transform: translate(3px, 5px) rotate(2deg); }
}
