{% load widget_tweaks %}
{% load widget_type_checker %}
{% load core_tags %}
{% load core_filters %}


{% if f|is_field_form_info %}
    <div class="alert alert-dismissible {{f.field.widget.attrs.border_color}} {{f.field.widget.attrs.color}}" role="alert">
        {% if f.field.widget.attrs.header %}
            <h6 class="alert-heading fw-bold user-select-none">{{f.field.widget.attrs.header}}</h6>
            <hr class="my-0">
        {% endif %}
        <p class="mb-1">{{f.field.widget.attrs.body}}</p>
        {% if f.field.widget.attrs.footer %}
            <hr class="my-0">
            <small class="alert-footer {{f.field.widget.attrs.footer_pos}}">{{f.field.widget.attrs.footer}}</small>
        {% endif %}
        <button class="btn btn-close btn-sm" data-bs-dismiss="alert" tabindex=-1></button>
    </div>
{% elif f|is_field_checkbox %}
    {% if checkbox_left %}
        <fieldset class="d-flex flex-row align-items-center">
            {% render_field f class+="form-check-input ms-2 my-0" %}
            {{f|add_label_class:"my-0 ms-1"}}
            {{f.errors}}
        </fieldset>
    {% else %}
        <div class="form-floating mt-{{space}} mb-1 text-center {{f|widget_col_width}}">
            <div class="h-100 d-flex justify-content-center">
                {{f|add_label_class:"me-2 form-check-label my-auto"}}
                {% render_field f class+="form-check-input my-auto" %}
                {{f.errors}}
            </div>
        </div>
    {% endif %}
{% elif f|is_field_file %} 
    <div class="form-file mt-{{space}} {{f|widget_col_width}}">
        {% if f.value %}<div>Current: <a href="{{f.value|to_media_url}}">{{f.value|get_file_name}}</a></div>{% endif %}
        {% if show_file_label %} {{f.label_tag}} {% endif %}
        {% if f.errors %}
            {% render_field f class+="form-control is-invalid" placeholder=f.name %}
        {% else %}
            {% render_field f class+="form-control" value=f.value placeholder=f.name %}
        {% endif %}
        {{f.errors}}
    </div>
{% elif f|is_field_date %} 
    <div class="form-floating mt-{{space}} {{f|widget_col_width}}">
        {% if f.errors %}
            {% render_field f class+="form-control is-invalid" type="date" %} {{f.label_tag}}
        {% else %}
            {% if f.value %}
                {% render_field f class+="form-control is-valid" type="date" %} {{f.label_tag}}
            {% else %}
                {% render_field f class+="form-control" type="date" %} {{f.label_tag}}
            {% endif %}
        {% endif %}
        {% utc_diff_title "input[type='date']" "ms-3 text-primary fs-7" %}
        {{f.errors}}
    </div>
{% elif f|is_field_datetime %} 
    <div class="form-floating mt-{{space}} {{f|widget_col_width}}">
        {% if f.errors %}
            {% render_field f class+="form-control is-invalid" type="datetime-local" %} {{f.label_tag}}
        {% else %}
            {% if f.value %}
                {% render_field f class+="form-control is-valid" type="datetime-local" %} {{f.label_tag}}
            {% else %}
                {% render_field f class+="form-control" type="datetime-local" %} {{f.label_tag}}
            {% endif %}
        {% endif %}
        {% utc_diff_title "ms-3 text-primary fs-7" %}
        {{f.errors}}
    </div>
{% elif f|is_field_textarea %} 
    <div class="form-floating mt-{{space}} {{f|widget_col_width}}">
        {% if f.errors %}
            {% render_field f class+="form-control is-invalid form-control-sm" placeholder=f.name %} {{f.label_tag}}
        {% else %}
            {% render_field f class+="form-control form-control-sm" placeholder=f.name %} {{f.label_tag}}
        {% endif %}
        {{f.errors}}
    </div>
{% elif f|is_field_radio %} 
    <fieldset class="bs_radio_field" title="{{f.help_text}}">
        {{f.label_tag}}
        {% if f.errors %}
            {% render_field f class+="form-radio ms-1 is-invalid" %}
        {% else %}
            {% render_field f class+="form-radio ms-1" %}
            {% comment %} {% for r in f %}
                <div class="form-check">
                    <input type="radio" name="{{f.name}}" selected={{r.data.selected}} class="form-check-input" id="{{r.id_for_label}}">
                    <label class="form-check-label" for="{{r.id_for_label}}">{{r.choice_label}}</label>
                </div>
            {% endfor %} {% endcomment %}
        {% endif %}
        {{f.errors}}
    </fieldset>
{% elif f|is_field_password and show_pswrdbtn %}
    <div class="form-floating mt-{{space}} {{f|widget_col_width}}">
        {% if f.errors %}
            {% render_field f class+="form-control is-invalid" placeholder=f.name %} {{f.label_tag}}
        {% else %}
            {% render_field f class+="form-control" placeholder=f.name %} {{f.label_tag}}
        {% endif %}
        <i class="fa fa-eye pswrdShowHideIcon hide" onclick="showHidePasswordIconClick(this)" type="button" title="show/hide password"></i>
        <i class="fa fa-eye-slash pswrdShowHideIcon hide" onclick="showHidePasswordIconClick(this)" type="button" title="show/hide password"></i>
        {{f.errors}}
        <style>
            svg.pswrdShowHideIcon {
                position: absolute;
                right:.5rem;
                top: 1.5rem;
            }
            svg.pswrdShowHideIcon.hide {
                display: none;
            }
        </style>
    </div>
{% else %}
    {% if f.field.as_datalist %}
        <div class="form-floating mt-{{space}} {{f|widget_col_width}}">
            {% if f.errors %}
                <input id="id_{{f.name|lower}}" class="form-control is-invalid" {{f|widget_disabled}} placeholder="{{f.name}}" 
                    type="text" list="{{f.name}}_listdata" name="{{f.name}}" value="{{f.value}}" required="{{f.required}}"> {{f.label_tag}}
            {% else %}
                {% if f.value %}
                    <input id="id_{{f.name|lower}}" class="form-control is-valid" {{f|widget_disabled}} placeholder="{{f.name}}" 
                        value="{% getval_frstr f.field.as_datalist.model f.value f.field.as_datalist.field %}" type="text" 
                        list="{{f.name}}_listdata" name="{{f.name}}" required="{{f.required}}"> {{f.label_tag}}
                {% else %}
                    <input id="id_{{f.name|lower}}" class="form-control" type="text" {{f|widget_disabled}} placeholder="{{f.name}}"
                        list="{{f.name}}_listdata" name="{{f.name}}" required="{{f.required}}"> {{f.label_tag}}
                {% endif %}
            {% endif %}
            {{f.errors}}
            <datalist id="{{f.name}}_listdata" hx-swap="innerHTML" hx-target="datalist#{{f.name}}_listdata" 
                hx-get="{% url f.field.as_datalist.url f.field.as_datalist.model %}{{f.field.as_datalist.query}}"
                hx-trigger="load once">
            </datalist>
        </div>
    {% else %}
        <div class="form-floating mt-{{space}} {{f|widget_col_width}}">
            {% if f.errors %}
                {% render_field f class+="form-control is-invalid" placeholder=f.name %} {{f.label_tag}}
            {% else %}
                {% if f.value %}
                    {% render_field f class+="form-control is-valid" placeholder=f.name %} {{f.label_tag}}
                {% else %}
                    {% render_field f class+="form-control" placeholder=f.name %} {{f.label_tag}}
                {% endif %}
            {% endif %}
            {{f.errors}}
        </div>
    {% endif %}
{% endif %}