footer {
    a.to-top {
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-image: var(--gradient-2);
        padding: 6px 10px;
        border-radius: 50%;
        width: fit-content;
        display: none;
        transition: .2s all ease-out;
        opacity: .85;
        color: var(--white);
        font-weight: 700;
        &:hover {
            opacity: 1;
            transition: .2s all ease-in;
        }
        &.active {
            display: block;
            transition: .3s all ease-in;
        }
    }
}