a.sidebar-collapse-btn>svg, button.sidebar-collapse-btn>svg {
    transition: all .3s ease;
    transform: rotate(90deg);
}
a.sidebar-collapse-btn.collapsed>svg, button.sidebar-collapse-btn.collapsed {
    transition: all .3s ease;
    transform: rotate(0deg);
}